
{% set sections = craft.sections.getAllSections() %}
	
{% for section in sections %}
<div class="section">
	<h2 class="section-name">{{ section.name }} <span class="handle">{{ section.handle }}</span></h2>
		
	{% set entry_types = section.entryTypes %}
	<ul class="entry-types">
		{% for entry_type in entry_types %}
		<li class="entry-type-group">
			<h4 class="entry-type">Entry Type: <code>{{entry_type}}</code></h4>
			{% set fields = entry_type.getFieldLayout(entry_type).getFields() %}
			<table class="field-table">
				{% for field_obj in fields %}
				{% set field_id =  field_obj.fieldId %}
				{% set field = field_obj.getField(field_id) %}
				<tr>
					<td>{{ field.name }}</td> <td><code>{{ field.handle }}</code></td> <td>{{ field.type }}</td>	</tr>
					{# {% if field.type == "Matrix" %} 
					<tr class="sub-fields">
					{% set block_types =  craft.matrix.getBlockTypesByFieldId(field_id) %}
					{# <td>{{dump(field_id) }}</td> 
					</tr>
						
					{% endif %}
					#}
					
					{% endfor %}
				</table>
			</li>
	
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
