code {font:monospace;}


.section {
	margin-bottom:20px;
	
}
.section-name {
	font-size:20px;
	font-weight:normal;
	margin: 0 0 15px 0;
}
.section-name .handle {
	font-size:13px;
	color:#999;
	font-weight:normal;
}


.entry-type-group {margin:0 0 10px 0;}
.entry-type {font-weight:normal; }
.entry-type code { color:#3483f6;}
	
table.field-table { margin-bottom:25px; background:#eee; }
	
	
.field-table td {min-width:200px; font-weight:normal; padding:8px 5px;}

.field-table tr.sub-fields {background:#e5e5e5;}